:root {
  --theme-color: ;
}

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.app-heading {
  /* border: 2px solid black; */
  padding: 2rem 0rem;
  background-color: rgb(2, 196, 255);
  color: white;
  margin: 0;
}

input {
  padding: 1rem;
  font-size: 16px;
  margin: 2rem 0rem;
}

.emoji-meaning {
  margin: 1rem 0rem;
  font-size: 18px;
}

.btn-quick-picks {
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}
